@import './style/reset.scss';
@import './style/vars.scss';

a {
  text-decoration: none;
  color: inherit;
}

.input {
  border: none;
  outline: none;
}
.btn {
  border: none;
  background: none;
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(208, 15%, 90%);
  height: 100vh;
}

.form-group {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
body{
  background: hsl(208, 15%, 90%);
}

@import './style/nav.scss';
@import './style/auth.scss';
@import './style/routine.scss';
@import './style/themes.scss';
@import './style/about.scss';

.alert-danger {
  color: red;
}
