$dark-blue: #00284a;
$light-blue: #b3cfe8;
$orange: #f17d49;

$winter-color: #003b4a;
$winter-background: hsl(205, 64%, 71%);

$autumn-color: #4a2f00;
$autumn-background: hsl(31, 64%, 71%);

$spring-color: #024a00;
$spring-background: hsl(112, 64%, 71%);

$summer-color: #4a4500;
$summer-background: hsl(71, 64%, 71%);

$white: #ffffff;
$black: #292929;
